<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=stylesheet href="styles/css/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>StartUsers</title>
</head>

<body class="start-users">
    <div class="container-users">
        <div class="user1">
        <button ng-click="selectUserJ()"><img class="jordi-image" src="img/jordi7.jpg"></button>
        <div class="user-name">
            <h3>Jordi</h3>
        </div>
        </div>
        <div class="user2">
        <a href="/#/listTasks"><img class="luna-image" src="img/luna.jpg"></a>
        <div class="user-name">
            <h3>Luna</h3>
        </div>
        </div>
    </div>
</body>

</html>
